<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title class="headeran">
           Login
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
        
    <ion-content fullscreen>
      <div class="konten">
	  <p class="please"> Please, Login <p>
      <div class="login">
          <p><input type="email" placeholder="Email"></p>
          <p><input type="password" placeholder="Password"></p>
          <p><a href="/login"><input type="submit" value="Log in" ></a></p>
       
      </div></div>
    </ion-content>
    </ion-app>